<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <base href="@Url.Content("~/")" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/css/vendors/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/vendors/feather.css">
    <link rel="stylesheet" href="~/css/vendors/vendor.bundle.base.css">
    <!-- font:css -->
    <link rel="stylesheet" href="~/css/vendors/simple-line-icons.css" />
    <link rel="stylesheet" href="~/css/vendors/themify-icons.css" />
    <link href="~/css/vendors/font-awesome.min.css" rel="stylesheet" />
    <!-- endfont-->
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="~/css/vendors/all.css">
    <link rel="stylesheet" href="~/css/vendors/select2.min.css">
    <link rel="stylesheet" href="~/css/vendors/select2-bootstrap.min.css">
    <link href="~/lib/dropify/dropify.min.css" rel="stylesheet" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vendors/style.css">
    <!-- endinject -->
    <link href="~/css/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />


</head>
<body id="bodyframe">
    <div class="container-scroller">
        <!-- partial:header menu-->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-primary">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="@Url.Content("~/")Home/DashBoard"><img src="@Url.Content("~/")images/logo.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="@Url.Content("~/")Home/DashBoard"><img src="@Url.Content("~/")images/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link  icon-black cursor-pointer">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="nav-link form-inline mt-2 mt-md-0 d-none d-lg-flex search">
                            <input type="text" class="form-control aksorn" placeholder="ค้นหาเอกสาร..">
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle icon-black" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell-outline"></i>
                            <span class="count bg-danger">7</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <h6 class="p-3 mb-0">Notifications</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-calendar"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject">Event today</h6>
                                    <p class="text-muted ellipsis">
                                        Just a reminder that you have an event today
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-settings"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject">Settings</h6>
                                    <p class="text-muted ellipsis">
                                        Update dashboard
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-link-variant"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject">Launch Admin</h6>
                                    <p class="text-muted ellipsis">
                                        New admin wow!
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                        </div>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link icon-black cursor-pointer">
                            <i class="mdi mdi-backburger"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:right menu -->
            <div id="right-sidebar" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <ul class="nav nav-tabs" id="setting-panel" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">Activity Log</a>
                    </li>
                </ul>
                <div class="tab-content" id="setting-content">
                    <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
                        <div class="events py-4 border-bottom px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                            <p class="text-gray mb-0">build a js based app</p>
                        </div>
                        <div class="events py-4 border-bottom px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                            <p class="text-gray mb-0">build a js based app</p>
                        </div>
                        <div class="events py-4 border-bottom px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                            <p class="text-gray mb-0">build a js based app</p>
                        </div>
                        <div class="events py-4 border-bottom px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                                <span>Feb 11 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Creating component page</p>
                            <p class="text-gray mb-0">build a js based app</p>
                        </div>
                        <div class="events pt-4 px-3">
                            <div class="wrapper d-flex mb-2">
                                <i class="mdi mdi-circle-outline text-primary mr-2"></i>
                                <span>Feb 7 2018</span>
                            </div>
                            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                            <p class="text-gray mb-0 ">Call Sarah Graves</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link d-flex">
                            <div class="profile-image">
                                <img src="@Url.Content("~/")images/face1.png" alt="image" />
                                <span class="online-status online"></span> <!--change class online to offline or busy as needed-->
                            </div>
                            <div class="profile-name">
                                <p class="name">
                                    We Develop Admin
                                </p>
                                <p class="designation aksorn">
                                    เจ้าของบริษัท
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link aksorn f-0-8">เมนูหลัก</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content("~/")Home/DashBoard">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">ภาพรวมบริษัท</span>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">เอกสารขาย</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-sell" aria-expanded="false" aria-controls="page-layouts">
                            <i class="icon-box menu-icon"></i>
                            <span class="menu-title">เอกสารขาย</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-sell">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/Quotation">ใบเสนอราคา</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/BillingNote">ใบวางบิล</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/Invoice">ใบแจ้งหนี้</a></li>
                                <li class="nav-item nav-border-bottom"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/Receipt">ใบเสร็จรับเงิน</a></li>
                                <li class="nav-item nav-border-bottom my-2"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/CashSale">ขายเงินสด</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/CreditNote">ใบลดหนี้</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentSell/DebitNote">ใบเพิ่มหนี้</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">เอกสารซื้อ</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-buy" aria-expanded="false" aria-controls="ui-basic">
                            <i class="icon-layers menu-icon"></i>
                            <span class="menu-title">เอกสารซื้อ</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-buy">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentBuy/PurchaseOrder">ใบสั่งซื้อ</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentBuy/ReceivingInventory">ใบรับสินค้า</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">ค่าใช้จ่าย</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-expand" aria-expanded="false" aria-controls="ui-advanced">
                            <i class="icon-air-play menu-icon"></i>
                            <span class="menu-title">ค่าใช้จ่าย</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-expand">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentExpenses/Expenses">ค่าใช้จ่าย</a></li>
                                <li class="nav-item"> <a class="nav-link" href="@Url.Content("~/")DocumentExpenses/WithholdingTax">หัก ณ ที่จ่าย</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">สินค้า / บริการ</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Content("~/")Product/Products">
                            <i class="ti-package menu-icon"></i>
                            <span class="menu-title">สินค้า / บริการ</span>
                        </a>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">สมุดรายชื่อ</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-listname" aria-expanded="false" aria-controls="ui-advanced">
                            <i class="icon-speech-bubble menu-icon"></i>
                            <span class="menu-title">สมุดรายชื่อ</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-listname">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">ลูกค้า</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">ผู้จำหน่าย</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">ลูกค้า / ผู้จำหน่าย</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">รายงาน</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-reportsell" aria-expanded="false" aria-controls="ui-advanced">
                            <i class="icon-bell menu-icon"></i>
                            <span class="menu-title">รายงานขาย</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-reportsell">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปยอดขาย</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปยอดขายตามลูกค้า</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-reportbuy" aria-expanded="false" aria-controls="icons">
                            <i class="icon-eye menu-icon"></i>
                            <span class="menu-title">รายงานซื้อ</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-reportbuy">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปยอดใบสั่งซื้อ</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปยอดใบรับสินค้า</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-reportexpand" aria-expanded="false" aria-controls="icons">
                            <i class="icon-eye menu-icon"></i>
                            <span class="menu-title">รายงานค่าใช้จ่าย</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-reportexpand">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">ค่าใช้จ่าย</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-reporttax" aria-expanded="false" aria-controls="icons">
                            <i class="icon-eye menu-icon"></i>
                            <span class="menu-title">รายงานภาษี</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-reporttax">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปภาษีขาย</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปภาษีซื้อ</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">สรุปภาษีหัก ณ ที่จ่าย</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-reportacct" aria-expanded="false" aria-controls="icons">
                            <i class="icon-eye menu-icon"></i>
                            <span class="menu-title">รายงานบัญชี</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-reportacct">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">ลูกหนี้ตามเอกสาร</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">เจ้าหนี้ตามเอกสาร</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-category">
                        <span class="nav-link">ตั้งค่า</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="icon-bell menu-icon"></i>
                            <span class="menu-title">ตั้งค่าบริษัท</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-settingdoc" aria-expanded="false" aria-controls="icons">
                            <i class="icon-eye menu-icon"></i>
                            <span class="menu-title">ตั้งค่าเอกสาร</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-settingdoc">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">เลขรันและหัวเอกสาร</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">หมายเหตุเอกสาร</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-settingprofile" aria-expanded="false" aria-controls="icons">
                            <i class="icon-eye menu-icon"></i>
                            <span class="menu-title">ตั้งค่าผู้ใช้งาน</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-settingprofile">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="#">เพิ่มผู้ใช้งาน</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">ข้อมูลส่วนตัว</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item nav-doc">
                        <a class="nav-link bg-primary" href="@Url.Content("~/")Home/Login">
                            <i class="icon-book menu-icon"></i>
                            <span class="menu-title aksorn">ออกจากระบบ</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 IM.Soft. All rights reserved.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/lib/vendors/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="~/lib/vendors/icheck.min.js"></script>
    <script src="~/lib/vendors/typeahead.bundle.min.js"></script>
    <script src="~/lib/vendors/select2.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/lib/vendors/off-canvas.js"></script>
    <script src="~/lib/vendors/hoverable-collapse.js"></script>
    <script src="~/lib/vendors/misc.js"></script>
    <script src="~/lib/vendors/settings.js"></script>
    <script src="~/lib/vendors/todolist.js"></script>
    <script src="~/lib/vendors/tooltips.js"></script>
    <script src="~/lib/vendors/popover.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/lib/vendors/file-upload.js"></script>
    <script src="~/lib/vendors/iCheck.js"></script>
    <script src="~/lib/vendors/typeahead.js"></script>
    <script src="~/lib/vendors/select2.js"></script>
    <!-- End custom js for this page-->

    @if (IsSectionDefined("RenderScriptWithPage"))
    {@RenderSection("RenderScriptWithPage", required: false)}

</body>
    
</html>
